{% extends 'base.html' %}
{% block head %}
    <title>Blog details</title>
{% endblock %}
{% block body %}
<nav>
  <ul class="menu">
      <li class="logo"><a href="/home">Adully</a></li>
      <li class="item"><a href="{{url_for('home')}}">Home</a></li>
      {% if current_user.is_authenticated %}
      <li class="item"><a href="{{url_for('new_post')}}">New Post</a></li>
      <li class="item"><a href="{{url_for('account')}}">Account</a></li>
      <li class="item"><a href="{{url_for('logout')}}">Logout</a></li>
      {% else %}
      <li class="item button"><a href="#">Login</a></li>
      <li class="item button secondary"><a href="#">Sign Up</a></li>
      {% endif  %}
      <li class="toggle"><span class="bars"></span></li>
     
  </ul>
</nav>
    <main>
        {% with messages = get_flashed_messages(with_categories='true') %}
        {% if messages %}
        {% for category, message in messages%}
            <div class="alert alert-dismissible alert-{{ category }} ">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="post-section">
                        <div class="user">
                          <img src="{{url_for('static', filename='profile_pix/' + post.author.image_file)}}" alt="">
                          <p>{{post.author.username}}<small>{{post.date_posted.strftime('%Y-%m-%d')}}</small></p>
                        </div>
                        <div class="post">
                          <h4>{{post.title}}</h4>
                          <p>{{post.content}}</p>
                        </div>
                        <div>
                          <div class="reactions">
                            <div><i class="fa fa-thumbs-up"></i> <small>Likes</small></div>
                            
                            <div style="justify-self: flex-end;"><i class="fa fa-comment"></i> <small>Comment</small></div>
                          </div>
                        </div>
                      </div>
                
                      {% if post.author == current_user %}
                      <div class="post-section">
                        <a href="{{ url_for('update_post', post_id=post.id)}}" class="btn btn_secondary btn-sm mt-1 mb-1">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                      </div>
                      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this post?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                                 <input type="submit" value="Delete" class="btn btn-danger">
                              </form>
                             
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endif %}
    </main>
{% endblock %}